.mypage-wrapper {
  width: 100%;
  height: 100vh;
  background: url("../../layout/img/background1.jpg");
}

.input-label {
  color: white !important;
}

.no-mui-disabled .Mui-disabled {
  opacity: inherit;
  -webkit-text-fill-color: rgba(255,255,255,1) !important;
}
